services:
  redis:
    image: redis:alpine
    ports:
      - "6370:6379"
    restart: always

  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    restart: always
  master:
    build:
      context: ./apps/master
    ports:
      - "3000:3000"
    environment:
      - PORT=${PORT}
      - MONGO_URI=${MONGO_URI}
      - REDIS_HOST=${REDIS_HOST}
      - REDIS_PORT=${REDIS_PORT}
      - SECRET_TOKEN=${SECRET_TOKEN}
    depends_on:
      - mongo
      - redis
  worker:
    build: 
      context: ./apps/worker
    environment:
      - SECRET_TOKEN=${SECRET_TOKEN}
      - SERVER_URL=${SERVER_URL}
    depends_on:
      - master


volumes:
  mongo-data:
